.DS_Store
.env
.env.testing
.php_cs.dist
.phpunit.result.cache
/.idea
/.vagrant
/node_modules
/public/assets/**/*
/public/css
/public/hot
/public/js
/public/img
/public/fonts
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log